/* Necessary to make input background color consistent */
input:-webkit-autofill {
  background-color: #6e727f !important; /* Background color when autofilled */
  color: #6e727f !important; /* Text color for autofilled text */
  -webkit-box-shadow: 0 0 0px 1000px #6e727f inset !important; /* Ensures autofilled input has the correct background */
  transition: background-color 5000s ease-in-out 0s; /* Prevents flashing */
}

input:-webkit-autofill::first-line {
  color: white !important; /* Text color for the autofilled input */
}
